extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h2 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{number_of_books}
    li #[strong Copies:] !{number_of_book_instances}
    li #[strong Copies available:] !{number_of_available_book_instances}
    li #[strong Authors:] !{number_of_authors}
    li #[strong Genres:] !{number_of_genres}